<section id="new-task" class="px-5 bg-white ">
  <div class="mb-3 row">
    <div class="col">
      <%= f.InputTag("Title", {class:"form-control"}) %>
    </div>
    <div class="col">
        <%= if (task.LimitDate.Valid) { %>
        <%= f.InputTag("LimitDate" ,{class:"date-picker",placeholder:"Select Date..", value:task.LimitDate.Time}) %>
       <% } else { %>
        <%= f.InputTag("LimitDate" ,{class:"date-picker", placeholder:"Select Date.."}) %>
        <% } %>
        </div>
  </div>
  <div class="mb-3">
    <%= f.TextArea("Description", {rows: 10}) %>
  </div>
</section>

